
extend layout2
block content
  if (userFlag == false)
    | Oops. This user profile is not public or this user is not your trip group member.
  if(userFlag==true)  
  h5  User information: 
  // Create a table with one row per result
  .container.myprofile
    - for (var inx = 0; inx < results.length; inx++)
        tr.myprofile
          th Name: 
          th=results[inx].FULL_NAME+" "
          th &nbsp;
          th User ID: 
          th=results[inx].USER_ID
          th &nbsp;
          th Email: 
          th=results[inx].EMAIL
          th &nbsp;
          th Affiliation: 
          th=results[inx].AFFILIATION
          th &nbsp;
          th Interest 
          th=results[inx].INTEREST
  h3 Trips:
  .container
      .row
      - for (var inx = 0; inx < results_trip.length; inx++) {
         .span0
         label Trip Name: #{results_trip[inx].TRIP_NAME}
      -}
    