extend layout
block content
	-  var imageName={};
	p
		|	Check Album Info Here: #{msg}
    
	h
		|	Album Information:
	dl
		dt
		|	Album_ID
		dd	#{results_photos[0].ALBUM_ID}
		dt
		|	Trip_ID
		dd	#{results_photos[0].TRIP_ID}
	if	state == true
		table
		- for (var inx = 0; inx < results_photos.length; inx++)
			<tr><td>#{results_photos[inx].OBJECT_ID}</td></tr>        
			- if (results_photos[inx].ISCACHED == 'T')     
				- imageName = results_photos[inx].OBJECT_ID + results_photos[inx].URL.charAt(results_photos[inx].URL.length-3) + results_photos[inx].URL.charAt(results_photos[inx].URL.length-2) +results_photos[inx].URL.charAt(results_photos[inx].URL.length-1);
				img.img-circle(alt='Failed to Load', src='/mongoimages/#{imageName}', align='center', style="width:304px;height:228px")
			- else
				img.img-circle(alt='Failed to Load', src='#{results_photos[inx].URL}', align='center', style="width:304px;height:228px")
			br
			form(method='post', action='/photoComments')
				input(type = 'hidden', name = 'tripID', value = '#{results_photos[inx].TRIP_ID}')
				input(type = 'hidden', name='albumID', value='#{results_photos[inx].ALBUM_ID}')
				input(type = 'hidden', name = 'objectSource', value = 'G17')
				input(type = 'hidden', name = 'userIDcreator', value = '#{results_photos[inx].USER_ID_CREATOR}')
				input(type = 'hidden', name = 'objectID', value = '#{results_photos[inx].OBJECT_ID}')
				input(type = 'submit', value = 'View ratings and comments')
			br
	